.macros-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   grid-area: macros;
   margin: 0;
   row-gap: 20px;
}

@media only screen and (max-width: 1200px) {
   .macros-wrapper {
      flex-direction: row;
      column-gap: 10px;
   }
}

.caloriesIcon {
   background-color: #fbeaea;
}

.proteinIcon {
   background-color: #e9f4fb;
}

.carbsIcon {
   background-color: #fbf6e5;
}

.fatIcon {
   background-color: #fbeaef;
}
