.sidebar {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   position: fixed;
   z-index: 1;
   width: 100px;
   height: 100vh;
   inset: 0;
   background-color: black;
   color: white;
   /* padding: 5rem 0; */
}

.sidebar__buttons {
   margin-top: 10rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   /* row-gap: 20px; */
}

.sidebar__copyright {
   writing-mode: vertical-rl;
   transform: rotate(180deg);
   justify-self: end;
   font-size: 12px;
   /* margin-top: 50px; */
}
