.sidebar {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   position: fixed;
   z-index: 1;
   width: 100px;
   height: 100vh;
   inset: 0;
   background-color: black;
   color: white;
}

.sidebar__buttons {
   margin-top: 10rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.sidebar__copyright {
   writing-mode: vertical-rl;
   transform: rotate(180deg);
   justify-self: end;
   font-size: 12px;
}

.switchSource-button {
   display: flex;
   align-items: center;
   justify-content: center;
   color: red;
   background-color: white;
   width: 50px;
   height: 50px;
   border: 0px;
   border-radius: 6px;
   padding: 2rem;
   margin: 0;
}
